<h1>Events</h1>
<div>
  <div class="row">
    <div class="column2 left">
      <img src="./assets/evento2.png" />
    </div>
    <div class="column2 middle">
      <img src="./assets/evento1.png" />
    </div>
    <div class="column2 right">
      <img src="./assets/evento3.jpg" />
    </div>
  </div>
</div>
<div class="main">
  <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile *ngFor="let event of events">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ event.title }}</mat-card-title>
        </mat-card-header>
        <img class="main-image" src="{{ event.urlImg }}" alt="title" />
        <mat-card-content>
          <p>
            <b>Author:</b>
            {{ event.author }}
          </p>
        </mat-card-content>
        <mat-card-content>
          <p>
            <b>Date:</b>
            {{ event.startDate | date: "fullDate" }}
          </p>
        </mat-card-content>
        <mat-card-content>
          <p>
            <b>Price:</b>
            {{ event.price }} soles
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            class="moreinfo-button"
            mat-button
            (click)="moveToInfo(event.id)"
          >
            More Info
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
