.row{
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  font-family: arial;
}

.column2 {
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}    

.left, .right {
  width: 25%;
  background: whitesmoke;
}

.middle {
  width: 50%;
  background: lightblue;
}

img{
  max-width: 100%;
  height: auto;
}
h1{
  padding: 50px;

}
    

.main {

  margin: 0 auto;
}

.mat-card{
  max-width: 50%;
}
.main-image{

  max-width: 80%;
}

p{
  text-align: start;
}
.mat-grid-tile{
  text-align: center;
}