.register{
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 500px;
}
.register h1{
    font-size: 48px;
}

button{
    
    background-color: #6557ff;     
    color: white; 
}