<div>
  <div class="main">
    <img src="../../../assets/logo.png" />
    <form class="example-form">
      <h1>Enter your name</h1>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" />
      </mat-form-field>
      <h1>Enter your password</h1>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <textarea matInput placeholder="Password"></textarea>
      </mat-form-field>
    </form>
  </div>
</div>
