<div class="background">
  <div class="register">
    <h1>Create an account</h1>
    <form (submit)="onSubmit()" #studentForm="ngForm">
      <mat-form-field>
        <input
          matInput
          placeholder="Name"
          name="Name"
          required
          [(ngModel)]="accountData.name"
          [(ngModel)]="accountAuthData.name"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Username"
          name="Username"
          required
          [(ngModel)]="accountAuthData.userName"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Email"
          name="Email"
          required
          [(ngModel)]="accountData.email"
          [(ngModel)]="accountAuthData.email"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="number"
          placeholder="Age"
          name="age"
          required
          [(ngModel)]="accountData.age"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="Password"
          name="password"
          required
          [(ngModel)]="accountData.password"
          [(ngModel)]="accountAuthData.password"
        />
      </mat-form-field>
      <ng-container>
        <button class="save" mat-button color="primary">Save</button>
        <button mat-button color="warm" [routerLink]="'/'">Cancel</button>
      </ng-container>
    </form>
  </div>
</div>
