<div>
  <nav class="navbar navbar-expand-sm bg-#6557ff navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" (click)="toHome()">EventsToday</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="./register.event">Publish Event</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['tickets']">My tickets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="openDialog()">Edit Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="onLogOut()" routerLink="/">Log Out</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" *ngIf="isAdmin" routerLink="./customer-list"
              >Customers</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="isAdmin" routerLink="./event-list"
              >Events</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
