.example-form{
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
}


.main {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto; 
    padding: 1%;
    width: 500px;
    background-color: white;

}

button{
    background-color: #6557ff;
    color: white;
}

.create-button{
    background-color: white;
    color: black;
    border-color: rgb(44, 44, 44)    ;
    border-radius: 2px;
    border-style: solid;

}

hr {
    width: 60%; margin-left: auto;margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}