
.img{
  width: 400px;
  display:flex;
}
.title1{
  font-family: "Century Gothic";
}
.title2{
  font-family: "Century Gothic";
}
.title3{
  font-family: "Century Gothic";
}
.Text{
  font-family: "Century Gothic";
}
