<h1>Eventos</h1>
<div>
  <div class="row">
    <div class="column2 left">
      <img src="./assets/evento2.png" />
    </div>
    <div class="column2 middle">
      <img src="./assets/evento1.png" />
    </div>
    <div class="column2 right">
      <img src="./assets/evento3.jpg" />
    </div>
  </div>
</div>

<table mat-table [dataSource]="userdata" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.title }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef>Organizador</th>
    <td mat-cell *matCellDef="let element">{{ element.author }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Fecha</th>
    <td mat-cell *matCellDef="let element">{{ element.date }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Precio</th>
    <td mat-cell *matCellDef="let element">{{ element.price }} soles</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
