.main-recovery{

    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto; 
    padding-top: 15%;
    width: 500px;
    
   
}

.recovery-title{

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.input-field{
    width: 500px;
    justify-content: center;
    align-items: center;
   

}

.submit-button{
    
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: #5b164d;

}