<div>
  <div class="main-recovery">
    <h1 class="main-title">Cambia tu contraseña</h1>
    <p>
      <mat-form-field class="input-field" appearance="outline">
        <mat-label>Nueva Contraseña</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="input-field" appearance="outline">
        <mat-label>Confirmar nueva contraseña</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
    </p>
    <button class="submit-button" mat-flat-button color="primary">
      Cambiar contraseña
    </button>
  </div>
</div>
